<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UdemyAnimeList</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <fast-design-system-provider use-defaults>
        <header>
            <site-navigation>
                <site-navigation-item>Anime</site-navigation-item>
                <site-navigation-item>Manga</site-navigation-item>

                <fast-text-field name="Search" placeholder="Search"></fast-text-field>
            </site-navigation>
        </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer>
            
        </footer>
    </fast-design-system-provider>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/@@microsoft/fast-components"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
